<!DOCTYPE html>
<html>

<head>
	<title>Change Password</title>
	<link rel="stylesheet" type="text/css" href="assets/styles/changepassword.css">
</head>

<body>
	<div class="loginbox">
		<h1>Password Change</h1>
		<form method="POST">
			<p>Old Password</p>
			<input type="password" name="oldpassword" placeholder="Enter Old Password" required value="<%= user[0].oldPassword%>"><br><span></span>
			<p>New Password</p>
			<input type="password" name="newpassword" placeholder="Enter New password" required value="<%= user[0].newPassword%>"><br><span></span>
			<p>Confirm New Password</p>
			<input type="password" name="confirmnewpassword" placeholder="Confirm New password" required value="<%= user[0].confirmNewPassword%>"><br><span></span>
			<input type="submit" name="" value="Submit"><span></span>
		</form>
	</div>
</body>
</html>
