<%-include('../common.ejs') -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Customer</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/notice.css">
</head>
<body>
    <div class="table">
        <h1>Notice Manage</h1>
        <hr>
        <p>Notice Name</p>
        <input type="text" placeholder="Enter notice Name">
        <p>Your Notice</p>
        <textarea name="notice" id="notice" placeholder="write your notice here" cols="80" rows="20"></textarea><br>
        <input type="submit" value="Send">

    </div>
</body>
</html>>