<%-include('../common.ejs') -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Customer</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/notice.css">
</head>
<body>
    <div class="table">
        <h1>Notice Manage</h1>
        <hr>
        <form method="POST">
            <input style="margin-top: 3px;width: 20%;" type="text" placeholder="Enter notice Name">
            <input style="width: 15%;" type="submit" value="Send">
            <input style="margin-top: 3px;width: 20%;margin-left: 180px;" type="text" placeholder="Enter notice Name">
            <input style="width: 15%;" type="submit" value="Button">
            <p>Your Notice</p>
            <textarea style="margin-top: 10px;" name="notice" id="notice" placeholder="write your notice here" cols="42" rows="20"></textarea>
            <table style="float: right;" class="content-table">
                <thead>
                    <th>Notice Id</th>
                    <th>Subject</th>
                </thead>
                <tbody>
                    <!-- ejs -->
                </tbody>
            </table>
            <input type="submit" value="Update">
            <input type="submit" value="Delete">
        </form>
    </div>
</body>
</html>>