<!DOCTYPE html>
<html>

<head>
	<title>Reset Password</title>
	<link rel="stylesheet" type="text/css" href="assets/styles/signup.css">
	<script src="assets/js/validSignup.js"></script>
</head>

<body>
	<div class="wrap">
		<h2>Reset Password</h2>
		<form method="post" name="myForm" onsubmit="return(validate());">
			<input type="text" name="username" placeholder="Username" value="">
			<input type="text" name="fullname" placeholder="Full Name" value="">
			<input type="text" name="design" placeholder="Designation" value="">
			<input type="email" name="email" placeholder="Email" value="">
            <input type="number" name="mobilenumber" placeholder="Mobile Number" value="">
			<input type="text" name="password" placeholder="New Password" value="">
			<span id="err"></span>
			<input type="text" name="confirmpassword" placeholder="Confirm New Password" value="">
			<span id="err1"></span>
			<input type="submit" name="SUBMIT" value="SUBMIT"><br>
		</form>
	</div>
</body>

</html>
