<!-- sidebar Included -->

<%-include('../common.ejs') -%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/Delivery.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <title>Pending Delivery List</title>
</head>
<body>
    <div align="center" class="table">
        <input style="width: 25%; margin-left: 70px;" id="search" type="text" name="Search" placeholder="Search" value="">
        <input id="search" type="submit" value="Search">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Date</th>
                    <th>Ship to</th>
                    <th>Order Total</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <!-- <tbody>
                ejs code here
            </tbody> -->
        </table>
    </div>
  </div>
</body>
</html>
