<!-- sidebar Included -->

<%-include('../common.ejs') -%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/history.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <title>Delivery Records</title>
</head>
  <body>
    <div align="center" class="table">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>SL#</th>
                        <th>Order#</th>
                        <th>Status</th>
                        <th>Process time</th>
                    </tr>
                </thead>

                <!-- <tbody>
                    ejs code here
                </tbody> -->
            </table>
            
    </div>
  </body>
  </html>
