<!-- sidebar Included -->

<%-include('../common.ejs') -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Product</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/manage.css">
</head>
<body>
    <div class="box">

        <input style="width: 20%; margin-left: 530px;" id="search" type="text" name="Search" placeholder="Search By ID" value="">
        <input id="btnSearch"type="submit" value="Search">
        <form action="post" name="manage" onsubmit="return validForm()">
            <p>Product ID</p>
            <input type="text" name="proId" placeholder="Enter Product Id" value="" >
            <p>Product Name</p>
            <input type="text" name="proName" placeholder="Enter Employee Name" value="" >
            <p>Type</p>
            <select id="type" name="type">
                <option selected="" disabled="">--SELECT--</option>
                <!-- ejs here -->
            </select><br>
            <p>Quantity</p>
            <input type="number" name="proQuantity" placeholder="Enter Product Quantity" value="" >
            <p>Price</p>
            <input type="text" name="proPrice" placeholder="Enter Product Price" value="" >
            <p>Modified By</p>
            <input type="text" name="by" value="" disabled>
            <p>Adding Date</p>
            <input type="text" name="addingDate" value="" disabled><br>
            <input style="margin-left: 400px; margin-top: 73px;"type="submit" name="refresh" value="Refresh">
            <input type="submit" name="insert" value="Insert">
            <input type="submit" name="update"value="Update">
            <input type="submit" name="delete" value="Delete">
        </form>
        <div align="right" class="table">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Pro Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>ModifiedBy</th>
                        <th>Adding Date</th>
                    </tr>
                </thead>

                <!-- <tbody>
                    ejs code here
                </tbody> -->
            </table>
        </div>
    </div>
</body>
</html>
