body {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 35, 35);
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
}

.box {
    width: 1100px;
    height: 730px;
    background:whitesmoke;
    color: #000;
    top: 50%;
    left: 57%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
}