body {
	margin:0;
	padding:0;
    font-family: sans-serif;
    background-color:#000;
    overflow: hidden;
}

.table{
    width: 900px;
	height: 680px;
	background: #fff;
	top:50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% ,-50%);
	box-sizing: border-box;
    padding: 30px 30px;
    overflow: scroll;
}
h1{
    margin: 0;
	padding: 0 0 20px;
	text-align: center;
    font-size: 38px;
    color: #009879;
}
.table section div{
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    
    color: #444;
    
}
.content-table{
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 15px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);

}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.btn{
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.btn:active {
	position:relative;
	top:1px;
}
label{
    color: red;
    height: 40px;
    font-size: 32px;
}
input[type="number"]{
    height: 28px;
    font-size: 18px;
}
input[type="submit"]{
    box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
input[type="submit"]:hover{
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}

