<!-- sidebar Included -->

<%-include('../common.ejs') -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/Sellmanage.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
</head>
<body>
    <div class="box">

        <input style="width: 20%; margin-left: 580px;" id="search" type="text" name="Search" placeholder="Search By ID" value="">
        <input id="btnSearch"type="submit" value="Search">
        <form action="post" name="manage" onsubmit="return validForm()">
            <p style="">Product ID</p>
            <input type="text" name="empId" placeholder="Enter Product Id" value="" >
            <p>Product name</p>
            <input type="text" name="empName" placeholder="Enter Product Name" value="" >
            <p>Category</p>
            <select id="designation" name="designation">
                <option selected="" disabled="">--SELECT--</option>
                <!-- ejs here -->
            </select><br>
            <p>Quantity</p>
            <input type="number" name="quantity" placeholder="Enter Quantity" value="" >
            <p>Price(/unit)</p>
            <input type="text" name="price" placeholder="Price" value="">
            <p>Customer Name</p>
            <input type="text" name="customerName" placeholder="Customer Name" value="">
            <p>Customer Number</p>
            <input type="text" name="customerNo" placeholder="Customer Number" value="">
            <p>Seller ID</p>
            <input type="text" name="sallerID" placeholder="Type ID" value="">
            <p>Sell Date</p>
            <input type="text" name="SellDate" placeholder="Date" value="" disabled>
            <input style="margin-left: 310px;"type="submit" name="refresh" value="Refresh">
            <input type="submit" name="sell" value="Sell">
        </form>
        <div align="right" class="table">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Prod. ID</th>
                        <th>Prod. Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>cust. Name</th>
                        <th>cust. Number</th>
                        <th>Seller Id</th>
                        <th>SellDate</th>
                    </tr>
                </thead>

                <!-- <tbody>
                    ejs code here
                </tbody> -->
            </table>
        </div>
    </div>
</body>
</html>
