<%-include('../common.ejs') -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/buy.css">
</head>
<body>
    <div class="box">
        <h1>Confirm Order</h1>
        <p>Product Id</p>
        <input type="text" disabled name="id">
        <p>Product Name</p>
        <input type="text" disabled name="name">
        <p>Price</p>
        <input type="text" disabled name="price">
        <p>Type</p>
        <input type="text" disabled name="type">
        <p>Quantity</p>
        <input type="text" placeholder="Enter quantity you want to buy" name="quantity"><br>
        <input type="submit" value="Confirm">
    </div>
</body>
</html>