<!-- sidebar Included -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/../assets/styles/buy.css">
    <title>Order Products</title>
</head>
<body>
    <div class="box">
        <h1>Confirm Order</h1>
        <hr>
        <p>product Id</p>
        <input type="text" disabled name="id">
        <p>product Name</p>
        <input type="text" disabled name="name">
        <p>Type</p>
        <input type="text" disabled name="type">
        <p>Price</p>
        <input type="text" disabled name="price">
        <p>Quantity</p>
        <input type="text" placeholder="Enter Quantity that you need" name="Quantity"><br>
        <input type="submit" value="Confirm">
    </div>
</body>
</html>