<% if (username == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (username == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>

<% if (username == 3) { %>
  <%-include('../salesmanDash/common.ejs') -%>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales History</title>
    <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/history.css">
</head>
<body>
    <div class="table">
        <h1>Sales History</h1>
        <div class=tab1>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>alpha</th>
                        <th>beta</th>
                        <th>gamma</th>
                        <th>alpha</th>
                        <th>beta</th>
                        <th>gamma</th>
                        <th>alpha</th>
                        <th>beta</th>
                        <th>gamma</th>
                        <th>alpha</th>
                        <th>beta</th>

                    </tr>
                </thead>
                <!-- <tbody>
                    ejs here
                </tbody> -->

            </table>
        </div>
        <hr>
        <input style="margin-top: 5px;margin-left: 10px;" type="submit" value="Print">
    </div>
</body>
</html>
