<% if (type == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (type == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>

<% if (type == 3) { %>
  <%-include('../salesmanDash/common.ejs') -%>
<% } %>

<% if (type == 4) { %>
  <%-include('../DeliverymanDash/common.ejs') -%>
<% } %>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Notice</title>
		<link rel="stylesheet" type="text/css" href="../assets/styles/notice.css">
	</head>
	<body>
		<div class="table">
			<h1>Notice</h1>
			<hr>
			<table class="content-table">
				<thead>
					<tr>
						<th>Notice Id</th>
						<th>Notice Name</th>
						<th>Owner Id</th>
						<th>Date</th>
					</tr>
				</thead>

				<!-- <tbody>
					ejs code here
				</tbody> -->
			</table>
			<hr><br>
			<textarea style="margin-left: 11px;" name="see" id="see" cols="80" rows="20"></textarea><br>
			<input type="Submit" value="Refresh">
		</div>
	</body>
</html>
