<% if (username == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (username == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>

<% if (username == 3) { %>
  <%-include('../salesmanDash/common.ejs') -%>
<% } %>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Notice</title>
	</head>
	<body>
		<form method='post'>

		</form>
	</body>
</html>
