<% if (type == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (type == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>

<% if (type == 3) { %>
  <%-include('../salesmanDash/common.ejs') -%>
<% } %>

<% if (type == 4) { %>
  <%-include('../DeliverymanDash/common.ejs') -%>
<% } %>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Chat Box</title>
		<link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
		<link rel="stylesheet" type="text/css" href="../assets/styles/chatBox.css">
	</head>
	<body>
		<form method="POST">
			<div class="table">
				<h1>ChatBox</h1>
				<input checked="chechked" id="tab1" type="radio" name="history">
				<input id="tab2" type="radio" name="history">
				<nav>
					<ul>
						<li class="tab1"><label for="tab1">Inbox</label></li>
						<li class="tab2"><label for="tab2">Send Message</label></li>
					</ul>
				</nav>
				<section>
					<div class=tab1>
						
						<table  class="content-table">
							<p>Unseen Mesaage</p>
							<thead>
								<tr>
									<th>Message ID</th>
									<th>Sender</th>
									<th>Subject</th>
									<th>Date</th>
								</tr>
							</thead>
							<!-- <tbody>
								ejs here
							</tbody> -->
						</table>
						<table class="content-table">
							<p>Seen Message</p>
							<thead>
								<tr>
									<th>Message ID</th>
									<th>Sender</th>
									<th>Subject</th>
									<th>Date</th>
								</tr>
							</thead>
							<!-- <tbody>
								ejs here
							</tbody> -->
						</table><hr><br>
						<input style="margin-left:10px;" type="text"><br>
						<input style="margin-left:10px;" type="text"><br>
						<textarea style="margin-top: 5px;margin-left: 10px;" placeholder="Message Body" name="see" id="see" cols="42" rows="20"></textarea><br>
						<input style="margin-top: 5px;margin-left: 10px;" type="submit" value="Refresh" name="refresh">
					</div>
					<div class="tab2">
						<p>Reciever</p>
						<table style="float: right;" class="content-table">
							<thead>
								<tr>
									<th>Message ID</th>
									<th>Sender</th>
									<th>Subject</th>
									<th>Date</th>
								</tr>
							</thead>
						</table>
						<input type="text" placeholder="Enter valid user Id" name="reciever" id=""><br>
						
						<p>Subject</p><input type="text" placeholder="Enter your message Subject" name="subject"><br>
						<textarea name="stext" id="" cols="42" rows="20" placeholder="Write your message here...."></textarea><br>
						<input type="submit" value="Refresh"><input style="margin-left: 7px;" type="submit" name="SEND" value="SEND">
					</div>
				</section>
			</div>
		</form>
	</body>
</html>
