
<% if (username == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (username == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Chat Box</title>
		<link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
		<link rel="stylesheet" type="text/css" href="../assets/styles/manage.css">
		<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
	</head>
	<body>
		
		<div class="container">
			<h3>A demo of Bootstrap Tabs</h3>
				
				<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Web <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#jquerytab" role="tab" data-toggle="tab">jQuery</a></li>
						<li><a href="#bootstab" role="tab" data-toggle="tab">Bootstrap</a></li>
						<li><a href="#htmltab" role="tab" data-toggle="tab">HTML</a></li>
					</ul>
				</li>  
				<li class="active"><a href="#hometab" role="tab" data-toggle="tab">Home</a></li>
				</ul>
				
				<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane" id="csharptab">C# is also a programming language</div>
				<div class="tab-pane" id="mysqltab">MySQL is a databased mostly used for web applications.</div>  
				<div class="tab-pane active" id="hometab">Write something for home tab</div>
			</div>
		</div>
	</body>
</html>
