
<% if (username == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (username == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Chat Box</title>
		<link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
    	<link rel="stylesheet" type="text/css" href="../assets/styles/manage.css">
	</head>
	<body>
		<form method='post'>
			<div class="box">
				
			</div>
		</form>
	</body>
</html>
