<% if (username == 1) { %>
  <%-include('../adminDash/common.ejs') -%>
<% } %>

<% if (username == 2) { %>
  <%-include('../managerDash/common.ejs') -%>
<% } %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>User Profile</title>
      <link rel="stylesheet" type="text/css" href="../assets/styles/common.css">
      <link rel="stylesheet" type="text/css" href="../assets/styles/about.css">
  </head>
  <body>
    <div class="box">
      <form method="POST">
          <h1>Profile Info <i class="fas fa-users"></i></h1>
          <p></p>Username<br>
          <input type="text" name="username" value=""><br>
          <p>Full Name</p><br>
          <input type="text" name="fullname" value=""><br>
          <p>Designation</p><br>
          <input type="text" name="designation" value=""><br>
          <p>Email<i class="far fa-envelope"></i></p><br>
          <input type="email" name="email" value=""><br>
          <p>Mobile No.</p><br>
          <input type="number" name="mobile" value=""><br>
          <p>Join Date</p>
          <input type="text" name="joinDate" disabled value=""><br>
          <input type="submit" value="Save">
      </form>
    </div>
  </body>
  </html>
  